name: Dependabot auto-merge

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  auto-merge:
    uses: ybiquitous/.github/.github/workflows/dependabot-auto-merge-reusable.yml@ce0d819404c680dcc9d8bf921d936e68ad122e5c # v2.4.0
    permissions:
      contents: write
