name: npm audit fix

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Check out
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ybiquitous/npm-audit-fix-action@main
        id: npm-audit-fix
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Show outputs
        env:
          pull_request_url: ${{ steps.npm-audit-fix.outputs.pull_request_url }}
          branch_name: ${{ steps.npm-audit-fix.outputs.branch_name }}
        run: |
          echo "pull_request_url: ${pull_request_url}"
          echo "branch_name: ${branch_name}"
