name: Release

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  release:
    uses: ybiquitous/.github/.github/workflows/nodejs-release-reusable.yml@ce0d819404c680dcc9d8bf921d936e68ad122e5c # v2.4.0
    with:
      publish: false
      draft: false
      update-semver-tag: true
    permissions:
      contents: write
      id-token: write
