name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

jobs:
  unit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm --global install npm@latest
      - run: npm ci
      - run: git diff --exit-code # check dist/
      - run: npm test --ignore-scripts

  smoke:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./

  lint:
    uses: ybiquitous/.github/.github/workflows/nodejs-lint-reusable.yml@main
