name: Update built files

on:
  pull_request:
    types: [assigned]

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }} # PAT is necessary to trigger other workflows on push
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          cache: npm
      - name: Install dependencies
        run: |
          npm --global install npm@latest
          npm ci
      - name: Commit and push a built file if any changes
        run: |
          if git diff --exit-code; then
            echo "No changes."
            exit 0
          fi
          git config --local user.name "${GITHUB_ACTOR}"
          git config --local user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add -f dist/
          git commit --message 'build: update built files'
          git push
