name: Update built files

on:
  pull_request:
    types: [assigned]

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }} # PAT is necessary to trigger other workflows on push
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          cache: npm
      - name: Install dependencies
        run: |
          npm --global install npm@latest
          npm ci
      - name: Commit and push a built file if any changes
        run: |
          if git diff --exit-code; then
            echo "No changes."
            exit 0
          fi
          git config --local user.name "${GITHUB_ACTOR}"
          git config --local user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add -f dist/
          git commit --message 'build: update built files'
          git push
